<div class="song-page">
    <h1 class="text-center">{{track_title}}</h1>
    <img class="main-img" src="{{track_image_file}}" alt="error">
    <div class="author-content">
        <div>Artist: {{#if artist_name}}{{artist_name}}{{else}}Unknown{{/if}}</div>
        <div>Album: {{#if album_title}}{{album_title}}{{else}}Not in album{{/if}}</div>
        <div>Title: {{track_title}}</div>
        <button id="btn-like" type="button" class="btn btn-outline-primary btn-lg">
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
</button>
    </div>
    <div class="clearfix"></div>
    <audio controls class="music-place">
        <source src="{{#if track_file_url}}{{track_file_url}}{{else}}{{track_file}}{{/if}}" type="audio/mp3">
    Your browser does not support the audio element.
    </audio>
</div>